{% extends 'base.html.twig' %}

{% block title %}Mes produits personnalisés
{% endblock %}

{% block body %}
	<h1 class="h1-form">Mes produits personnalisés</h1>
	{{ include('public_chat/_form.html.twig') }}
	<a href="#">Retour à l'accueil</a>
{% endblock %}
