{% extends 'dashboard/dashboard.html.twig' %}

{% block content %}
<h5 class="phrase_home-dashboard">Bienvenue Jessica, comment allez-vous ?</h5>
<div class="row widget_dashboard">
    <div class="widget-images_dashboard">
      <h3 class="widget-h3_dashboard">Images</h3>
    </div>
    <div class="widget-analytics_dashboard">
      <h3 class="widget-h3_dashboard">Analytics</h3>
    </div>
</div>
<div class="widget-secondary_dashboard">
  <div class="row">
    <div class="widget-chart1_dashboard col-3">
      <h5 class="widget-h5_dashboard">Trafic organique</h5>
    </div>
    <div class="widget-chart2_dashboard col-3">
      <h5 class="widget-h5_dashboard">Analyse du contenu</h5>
    </div>
    <div class="widget-chart3_dashboard col-3">
      <h5 class="widget-h5_dashboard">Taux de conversion</h5>
    </div>
  </div>
</div>
{% endblock %}