{% extends 'dashboard/dashboard.html.twig' %}

{% block content %}
<h5 class="phrase_home-dashboard mb-3">Bienvenue Jessica, comment allez-vous ?</h5>
<div class="row">
    <div class="widget-images_dashboard col">
      <h3 class="widget-h3_dashboard">Images</h3>
    </div>
    <div class="widget-analytics_dashboard col-md-auto">
      <h3 class="widget-h3_dashboard">Analytics</h3>
    </div>
</div>
{% endblock %}